STG_AWS_ACCESS_KEY_ID=
STG_AWS_SECRET_ACCESS_KEY=
STG_SERVICE_INTEGRATION_URL=
STG_SERVICE_INTEGRATION_TOKEN=

PROD_AWS_ACCESS_KEY_ID=
PROD_AWS_SECRET_ACCESS_KEY=
PROD_SERVICE_INTEGRATION_URL=
PROD_SERVICE_INTEGRATION_TOKEN=

GA_API_SECRET=